/****************************************TAG SELECTORS****************************************/
body {
  background-color: #e6e2dd;

  font-family: "Trirong", serif;
}

h1 {
  color: #d48166;
}

h3 {
  color: #d48166;
}

hr {
  border-color: lightgrey;
  border-style: none;
  border-width: 14px;
  border-top-style: dotted;
  height: 0px;
  width: 4%;
}
/****************************************CLASS SELECTORS****************************************/

.selfie {
    border-radius: 100%;
}

/****************************************ID SELECTORS****************************************/